In [1]:
import pandas as pd
import numpy as np

In [2]:
products_df = pd.read_csv("products.csv")
sales_df = pd.read_csv("sales.csv")

In [4]:
products_df.head(10)

    sku    name  current_price  cost_price  stock
0  A123  Item A         649.99         500    150
1  B456  Item B         699.00         550     15
2  C789  Item C         999.00         500    250

In [5]:
sales_df.head(10)

    sku  quantity_sold
0  A123             10
1  B456             35
2  C789              0

In [6]:
merged_df = pd.merge(products_df, sales_df, on="sku", how="left")

In [11]:
def apply_pricing_rules(row):
    current_price = row['current_price']
    cost_price = row['cost_price']
    stock = row['stock']
    quantity_sold = row['quantity_sold']
    
    if stock < 20 and quantity_sold > 30:
        # Rule 1 – Low Stock, High Demand
        new_price = current_price * 1.15
    elif stock > 200 and quantity_sold == 0:
        # Rule 2 – Dead Stock
        new_price = current_price * 0.70
    elif stock > 100 and quantity_sold < 20:
        # Rule 3 – Overstocked Inventory
        new_price = current_price * 0.90
    else:
        new_price = current_price
        minimum_price = cost_price * 1.20
        if new_price < minimum_price:
            new_price = minimum_price

    return round(new_price, 2)

In [12]:
merged_df['new_price'] = merged_df.apply(apply_pricing_rules, axis=1)

In [13]:
merged_df.head(10)

,sku,name,current_price,cost_price,stock,quantity_sold,new_price,old_price
0,A123,Item A,649.99,500,150,10,584.99,$649.99
1,B456,Item B,699.00,550,15,35,803.85,$699.00
2,C789,Item C,999.00,500,250,0,699.30,$999.00

In [14]:
merged_df["old_price"] = merged_df["current_price"].apply(lambda x: f"${x:.2f}")
merged_df["new_price"] = merged_df["new_price"].apply(lambda x: f"${x:.2f}")

output_df = merged_df[["sku", "old_price", "new_price"]]

output_df.to_csv("updated_prices.csv", index=False)

print("Output saved to 'updated_prices.csv'")

Output saved to 'updated_prices.csv'

In [15]:
output_df.head()

    sku old_price new_price
0  A123   $649.99   $584.99
1  B456   $699.00   $803.85
2  C789   $999.00   $699.30